!!! 5
%html(lang="en-US")
  %head
    %title Extensible jQuery Plugin Development
    = stylesheets
    = javascripts "jquery.min", "plugin", "application"
    -# = javascripts "jquery.min", "original", "application_original"
  %body
    = yield
